.profile{
    display: flex;
}

.profileRight{
    flex: 10.5;
}

.profileCover{
    height: 320px;
    position: relative;
}

.profileCoverImg{
    width: 100%;
    height: 250px;
    object-fit: cover; /*上で調整したサイズ感で、画質を自動で調節してくれる。*/
}

.profileUserImg{
    position: absolute;
    left: 0;
    right: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;/*上下左右の余白を自動で調節してくれる。*/
    top: 150px;/*topから数値分の間隔を空ける。*/
    /* border: 3px solid white; */
}

.profileInfo{
    display: flex;
    flex-direction: column;/*カラムとする事で縦並びにできる。*/
    align-items: center;
    /* justify-content: center; */
}

.profileInfoName{
    font-size: 24px;

}

.profileRightBottom{
    display: flex;
}

